<!doctype html>
<html>
<head>
    <title>P5 Calendar</title>
    <link rel="icon" type="image/x-icon" href="/img/favicon.ico">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Arsenal:ital,wght@0,400;0,700;1,400;1,700&display=swap" rel="stylesheet">
    <!-- <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@300;400&family=Jost:ital@0;1&family=Kdam+Thmor+Pro&family=Macondo&family=Poppins:ital,wght@0,300;0,400;0,500;1,200&family=Quicksand:wght@300;400;500;600;700&display=swap" rel="stylesheet"> -->
<script src="https://kit.fontawesome.com/5429a7e2cf.js" crossorigin="anonymous"></script>

    <link rel="stylesheet" href="style.css">
    <link rel="stylesheet" href="index.css">
</head>
<body>
    <!-- <img class="firstGif" src="img/first.jpg" alt="opening banner"/> -->
    <div class="container">

    <div class="jumbotron text-center">
        <!-- <p>Keep a journal of your daily adventures!</p> -->
        <img id="homeText" src="img/HOME_TEXT.png" alt="/">
        <div class="homeLinks">
            <a href="/login"><img id="logpng" src="img/HOME_login.png" alt="/"/></a>
            <a href="/signup"><img id="signpng" src="img/HOME_signup.png" alt="/"></a>
        </div>
    </div>
</div>
</body>
</html>
